.wrapper
  = render 'partial/header'
  %main.main
    %section.main__box
      %h2.main__box__title 購入内容の確認
      %section.main__box__purchase
        .main__box__purchase__inner
          %h3.main__box__purchase__inner__image
            = image_tag @item.image.url , class: 'main__box__purchase__inner__image__one' if @item.image.present?
          %p.main__box__purchase__inner__text
            =(@item.name)
          -# %form.main__box__purchase__inner__form{:action => "https://www.mercari.com/jp/transaction/buy/done/m66900357794/", :method => "POST", :novalidate => "novalidate"}
          .main__box__purchase__inner__form
            %p.main__box__purchase__inner__form__price
              = to_yen(@item.price)
              %span.main__box__purchase__inner__form__price__shipping 送料込み
            %ul.main__box__purchase__inner__form__point
              %li.main__box__purchase__inner__form__point__parent
                .main__box__purchase__inner__form__point__parent__toggle
                  ポイントはありません
            %ul.main__box__purchase__inner__form__table
              %li.main__box__purchase__inner__form__table__cell
                .main__box__purchase__inner__form__table__cell__text 支払い金額
                .main__box__purchase__inner__form__table__cell__price
                  %span= to_yen(@item.price)
              -# %button.main__box__purchase__inner__form__table__button{:type => "submit"} 購入する
              = button_to '購入する', purchase_buy_path, method: :put, class: 'main__box__purchase__inner__form__table__button', data: {confirm: "購入を確定しますか？"}
      %section.main__box__user
        .main__box__user__inner
          %h3.main__box__user__inner__text 配送先
          %address.main__box__user__inner__info
            = @address.postal_code
            %br/
            = @address.city
            = @address.block
            %br/
            = @address.delivery_family_name
            = @address.delivery_first_name
          %p.main__box__user__inner__space
          %a.main__box__user__inner__fix{:href => "/transaction/address/"}
            %span 変更する
            %i.icon-arrow-right
      %section.main__box__user.main__box__user-bottom{"data-buy" => "pay-method"}
        .main__box__user__inner
          %h3.main__box__user__inner__text 支払い方法
          %p.main__box__user__inner__info
            = @credit.number
            %br/
            = @credit.expiration_date
            \
            %figure
              = image_tag 'visa.svg', alt: 'visa', class: 'visa'
          %a.main__box__user__inner__fix{:href => "/transaction/card/"}
            %span 変更する
            %i.icon-arrow-right
  = render 'partial/footer'