.wrapper
  %header.header
    %h1.header__box
      %a.header__box__link{:href => "/items"}
        = image_tag 'mercari_buy_header_logo.svg', alt: 'mercari', class: 'header__box__link__logo'
  %main.main
    %section.main__box
      %h2.main__box__title 購入内容の確認
      %section.main__box__purchase
        .main__box__purchase__inner
          %h3.main__box__purchase__inner__image
            = image_tag @items.image.url , class: 'main__box__purchase__inner__image__one' if @items.image.present?
          %p.main__box__purchase__inner__text 
            =(@items.name)
          %form.main__box__purchase__inner__form{:action => "https://www.mercari.com/jp/transaction/buy/done/m66900357794/", :method => "POST", :novalidate => "novalidate"}
            %p.main__box__purchase__inner__form__price
              = to_yen(@items.price)
              %span.main__box__purchase__inner__form__price__shipping 送料込み
            %ul.main__box__purchase__inner__form__point
              %li.main__box__purchase__inner__form__point__parent
                .main__box__purchase__inner__form__point__parent__toggle
                  ポイントはありません
            %ul.main__box__purchase__inner__form__table
              %li.main__box__purchase__inner__form__table__cell
                .main__box__purchase__inner__form__table__cell__text 支払い金額
                .main__box__purchase__inner__form__table__cell__price
                  %span= to_yen(@items.price)
              %button.main__box__purchase__inner__form__table__button{:type => "submit"} 購入する
      %section.main__box__user
        .main__box__user__inner
          %h3.main__box__user__inner__text 配送先
          %address.main__box__user__inner__info
            = current_user.postal_code
            %br/
            = current_user.city
            = current_user.block
            %br/
            = current_user.nickname
          %p.main__box__user__inner__space
          %a.main__box__user__inner__fix{:href => "https://www.mercari.com/jp/transaction/address/m66900357794/?_s=U2FsdGVkX19-Ch0-TcplbkSbEgMguQUV2ujtGVXzyO7G411-oVQNHKqUBkS8d3lVszLT5b_skwN1pXON35QwzHF842fk9IZNxunoDIvNzTWTF73_ogUXaiZoom8QUx2s"}
            %span 変更する
            %i.icon-arrow-right
      %section.main__box__user{"data-buy" => "pay-method"}
        .main__box__user__inner
          %h3.main__box__user__inner__text 支払い方法
          %p.main__box__user__inner__info
            %br/
            \/
            %figure
              %img{:alt => "", :height => "", :src => "", :width => ""}/
          %a.main__box__user__inner__fix{:href => "https://www.mercari.com/jp/transaction/card/m66900357794/?_s=U2FsdGVkX19-Ch0-TcplbkSbEgMguQUV2ujtGVXzyO7G411-oVQNHKqUBkS8d3lVszLT5b_skwN1pXON35QwzHF842fk9IZNxunoDIvNzTWTF73_ogUXaiZoom8QUx2s"}
            %span 変更する
            %i.icon-arrow-right
  %footer.footer
    %nav
      %ul.clearfix
        %li
          %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
        %li
          %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
        %li
          %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    %a.footer__logo{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994", :width => "80"}/
    %p
      %small © 2019 Mercari