%aside.banner{:style => "background-image:url(#{asset_path "banner_main.jpg"})"}
  .banner__content
    .banner__content__images
      .banner__content__images__left
        .banner__content__images__left__text
          スマホでかんたんフリマアプリ
        .banner__content__images__left__text2
          今すぐ無料ダウンロード！
        .banner__content__images__left__apps
          = image_tag 'mercari_icon_banner.png', alt: 'mercari', class: 'banner__content__images__left__apps__mercari'
          %a.banner__content__images__left__apps__link{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
            = image_tag 'app_store_logo.svg', alt: 'appsotre', class: 'banner__content__images__left__apps__link__appstore'
          %a.banner__content__images__left__apps__link{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
            = image_tag 'google_play_logo.svg', alt: 'googleplay', class: 'sbanner__content__images__left__apps__link__googleplay'
      %figure.banner__content__images__right
        = image_tag 'banner_right_image.png', alt: '', class: 'banner__content__images__right__image'