.wrapper__head
  .header
    .header__top
      .header__top__logo
        %a.header__top__logo__link{:href => "/items"}
          = image_tag 'mercari_top_header_logo.svg', alt: 'mercari', class: 'header__top__logo__link__image'
          -# %img.header__top__logo__link__image{:alt => "mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
      %form.header__top__box
        %input.header__top__box__input/
        %button.header__top__box__button{:type => "submit"}
          %svg.sc-jDwBTQ.sc-bMVAic.hxYxiW{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
            %path{:d => "M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z", :fill => "currentColor", "fill-rule" => "nonzero"}
    .header__bottom
      .header__bottom__left
        .header__bottom__left__list
          %a.header__bottom__left__list__link{:href => "/items/category/"}
            %svg.header__bottom__left__list__link__svg{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 20 16", :width => "20"}
              %path{:d => "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", :fill => "currentColor", "fill-rule" => "nonzero"}
            %span.header__bottom__left__list__link__text カテゴリーから探す
        .header__bottom__left__brand
          %a.header__bottom__left__list__link{:href => "/items/brand/"}
            %svg.header__bottom__left__list__link__svg{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 23 16", :width => "23"}
              %path{:d => "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", :fill => "currentColor", "fill-rule" => "nonzero"}
            %span.header__bottom__left__list__link__text ブランドから探す
      - if user_signed_in?
        %ul.header__bottom__right
          %li.header__bottom__right__icon
            %a.header__bottom__right__icon__link{:href => "/mypages/"}
              = fa_icon 'heart-o', class: 'header__bottom__right__icon__link__i'
              %span.header__bottom__right__icon__link__text いいね！一覧
          %li.header__bottom__right__icon
            %a.header__bottom__right__icon__link{:href => "/mypages/"}
              = fa_icon 'bell', class: 'header__bottom__right__icon__link__i'
              %span.header__bottom__right__icon__link__text お知らせ
          %li.header__bottom__right__icon
            %a.header__bottom__right__icon__link{:href => "/mypages/"}
              = fa_icon 'check', class: 'header__bottom__right__icon__link__i'
              %span.header__bottom__right__icon__link__text やることリスト
          %li.header__bottom__right__icon
            %a.header__bottom__right__icon__link{:href => "/mypages/"}
              = fa_icon 'smile-o', class: 'header__bottom__right__icon__link__i'
              %span.header__bottom__right__icon__link__text マイページ
      - else
        .header__bottom__right
          .header__bottom__right__signup
            %a.header__bottom__right__signup__link{:href => "/signup/registration_type/"}
              新規会員登録
          .header__bottom__right__login
            %a.header__bottom__right__login__link{:href => "/users/sign_in/"}
              ログイン
