= render 'partial/header'
%main.single-main
  %section.single-main__container
    %h2.single-main__container__header 新規会員登録
    .single-main__container__inner
      .single-main__container__inner__content
        .btn-default.btn-sns.btn-mail
          = fa_icon("envelope 2x")
          = link_to'メールアドレスで登録',  registration_signup_index_path
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          = fa_icon("facebook-square 2x")
          = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path
        %button#google-login.btn-default.btn-sns.btn-sns-google
          = fa_icon("google 2x")
          = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path
= render 'partial/footer'
