.single-container
  .single-header
    %h1.single-header__logo
      = link_to do
        =image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?128691313", alt: "mercari", class: "mercari-logo"
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__header 新規会員登録
      .single-main__container__inner
        .single-main__container__inner__content
          =link_to new_user_registration_path, method: :get, class: "contents__btn contents__btn__mail" do
            %i.single-main__container__inner__content__mail.far.fa-envelope-o
            メールアドレスで登録
          = link_to user_facebook_omniauth_authorize_path, method: :post, class: "contents__btn contents__btn__facebook" do
            %i.single-main__container__inner__content__icon.fab.fa-facebook-square
            Facebookで登録
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "contents__btn contents__btn__google" do
            =image_tag "https://i.gyazo.com/52d0a24f7c45cfa2f57c0328001c4204.png", class: "contents__btn__google__logo"
            Googleで登録
          
  %footer.single-footer
    %nav
      %ul.single-footer__content
        %li.single-footer__content__menu
          = link_to "", class: 'single-footer__menu__content__link' do
            プライバシーポリシー
        %li.single-footer__content__menu
          = link_to "", class: 'single-footer__menu__content__link' do
            メルカリ利用規約
        %li.single-footer__content__menu
          = link_to "", class: 'single-footer__menu__content__link' do
            特定商取引に関する表記
      = link_to class: 'single-footer-logo' do
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2855175014", alt: "mercari", class: "footer-logo"
      %p.footer-century
        %small © 2019 Mercari