= render 'partial/header'
%main.single-main
  %section.single-main__log-in
    %p.single-main__log-in__header アカウントをお持ちでない方はこちら
    .btn-default.btn-sns.log-in
      = link_to'新規会員登録',''
    %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
      = fa_icon("facebook-square 2x")
      Facebookでログイン
    %button#google-login.btn-default.btn-sns.btn-sns-google
      = fa_icon("google 2x")
      Googleでログイン
    .single-main__log-in__form-group
      %input.single-main__log-in__form-group__input-form{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
    .single-main__log-in__form-group
      %input.single-main__log-in__form-group__input-form{:name => "password", :placeholder => "パスワード", :type => "password", :value => ""}/
      %p recapthaを追加します
    %button.btn-default.btn-red{:type => "submit"}
      = link_to'ログイン',''
    .single-main__container__form-group
      %p
        %a{:href => "https://www.mercari.com/jp/password/reset/start/", :target => "_blank"} パスワードをお忘れの方
= render 'partial/footer'
