= render 'partial/header'
%main.sell-main
  %section.sell-container-wrapper
    .sell-container
      %h2.sell-container__head 商品の情報を入力
      = form_for @item , url: '/sell', method: :post, html: {class: "sell-form"} do |f|
        .sell-upload-box
          %h3.sell-upload-box__head
            出品画像
            %span.sell-form-require 必須
          %p.sell-upload-box__note 最大10枚までアップロードできます
          .sell-dropbox
            .sell-dropbox__picturebox
              .sell-dropbox__pictures
                %ul.sell-dropbox__picture
            = f.label(:image, for: "image", class: "sell-dropbox-area sell-dropbox-area--item0") do
              = f.file_field(:image, id: "image", class: "sell-dropbox-area__file")
              %pre.sell-dropbox-area__text
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
        .sell-content
          .sell-form-name
            = f.label "商品名", {class: "sell-form-name__label"}
            %span.sell-form-require 必須
            .sell-form-name__input-wrapper
              = f.text_field(:name, {class: "sell-form-name__input",
                    placeholder: "商品名（必須40文字まで）",
                    required: true})
          .sell-form-review
            = f.label "商品の説明", {class: "sell-form-review__label"}
            %span.sell-form-require 必須
            = f.text_area(:description, {class: "sell-form-review__textarea",
            rows: "5",
            required: true,
            placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"})
        .sell-content.sell-content--clearfix
          %h3.sell-content__sub-head 商品の詳細
          .sell-form-box
            .sell-form-selectbox
              %label.sell-form-selectbox__label カテゴリー
              %span.sell-form-require 必須
              .sell-form-selectbox__select-wrapper
                = fa_icon 'angle-down 3', class: "sell-form-selectbox__icon"
                = f.select(:category_id, @categories, {:selected => @category_id}, {class: "sell-form-selectbox__select", id: "category_id"})
              .sell-form-selectbox__select-wrapper
                = fa_icon 'angle-down 3', class: "sell-form-selectbox__icon"
                = select_tag 'category_child_id', options_for_select(["---"], "---"), class: "sell-form-selectbox__select"
              .sell-form-selectbox__select-wrapper
                = fa_icon 'angle-down 3', class: "sell-form-selectbox__icon"
                = select_tag 'category_grandchild_id', options_for_select(["---"], "---"), class: "sell-form-selectbox__select"
            -# .sell-form-selectbox
            -#   %label.sell-form-selectbox__label サイズ
            -#   %span.sell-form-require 必須
            -#   .sell-form-selectbox__select-wrapper
            -#     = fa_icon 'angle-down 3', class: "sell-form-selectbox__icon"
            -#     = select_tag 'item_size', options_for_select(["---"], "---"), class: "sell-form-selectbox__select"
            .sell-form-text
              %label.sell-form-text__label ブランド
              %span.sell-form-optional 任意
              .sell-form-text__input-wrapper
                = f.fields_for :brand do |b|
                  = b.text_field(:name , {class: "sell-form-text__input", placeholder: "例)シャネル", id: "brand_name"})
            .sell-form-selectbox
              %label.sell-form-selectbox__label 商品の状態
              %span.sell-form-require 必須
              .sell-form-selectbox__select-wrapper
                = fa_icon 'angle-down 3', class: "sell-form-selectbox__icon"
                -# TODO:Dummy collection_selectを使用するように
                = select_tag 'item_state', options_for_select(["---", "新品、未使用", "未使用に近い"], "---") , class: "sell-form-selectbox__select"
        .sell-content.sell-content--clearfix
          %h3.sell-content__sub-head 配送について
          %a.sell-form-question ?
          .sell-form-box
            .sell-form-selectbox
              %label.sell-form-selectbox__label 配送料の負担
              %span.sell-form-require 必須
              .sell-form-selectbox__select-wrapper
                = fa_icon 'angle-down 3', class: "sell-form-selectbox__icon"
                -# TODO:Dummy collection_selectを使用するように
                = select_tag 'pay_delivery_fee', options_for_select(["---", "送料込み(出品者負担)", "着払い(購入者負担)"], "---"), class: "sell-form-selectbox__select"
            .sell-form-selectbox
              %label.sell-form-selectbox__label 配送の方法
              %span.sell-form-require 必須
              .sell-form-selectbox__select-wrapper
                = fa_icon 'angle-down 3', class: "sell-form-selectbox__icon"
                -# TODO:Dummy collection_selectを使用するように
                = select_tag 'delivery_type', options_for_select(["---", "らくらくメルカリ便", "ゆうメール"], "---"), class: "sell-form-selectbox__select"
            .sell-form-selectbox
              %label.sell-form-selectbox__label 発送元の地域
              %span.sell-form-require 必須
              .sell-form-selectbox__select-wrapper
                = fa_icon 'angle-down 3', class: "sell-form-selectbox__icon"
                -# TODO:Dummy collection_selectを使用するように
                = select_tag 'delivery_area', options_for_select(["---", "北海道", "東京都"], "---"), class: "sell-form-selectbox__select"
            .sell-form-selectbox
              %label.sell-form-selectbox__label 発送までの日数
              %span.sell-form-require 必須
              .sell-form-selectbox__select-wrapper
                = fa_icon 'angle-down 3', class: "sell-form-selectbox__icon"
                -# TODO:Dummy collection_selectを使用するように
                = select_tag 'delivery_days', options_for_select(["---", "1~2日で配送", "2~3日で配送"], "---"), class: "sell-form-selectbox__select"
        .sell-content.sell-content--clearfix
          %h3.sell-content__sub-head 販売価格(300〜9,999,999)
          %a.sell-form-question ?
          .sell-form-box
            %ul.sell-form-price
              %li.sell-form-price__inputform
                .sell-form-price__inputform__inner
                  %label.sell-form-price__inputform__label.sell-form-price__inputform__label--left
                    価格
                    %span.sell-form-require 必須
                  .sell-form-price__inputform__input-box.sell-form-price__inputform__input-box--right
                    ¥
                    .sell-form-price__inputform__input
                      = f.text_field(:price, {id: "sell_input_price",
                            class: "sell-form-price__inputform__input__inner",
                            placeholder: "例) 300",
                            required: true})
              %li.sell-form-price__tax
                .sell-form-price__tax--left 販売手数料 (10％)
                .sell-form-price__tax--right -
              %li.sell-form-price__profit
                .sell-form-price__profit--left 販売利益
                .sell-form-price__profit--right -
        .sell-content.sell-btn-box
          .sell-btn-box__notes
            %p.sell-btn-box__note
              %a.sell-btn-box__note__link> 禁止されている出品、行為
              を必ずご確認ください。
            %p.sell-btn-box__note
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              %a.sell-btn-box__note__link> 偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p.sell-btn-box__note
              また、出品をもちまして
              %a.sell-btn-box__note__link> 加盟店規約
              に同意したことになります。
          %button{type: "submit", class: "sell-btn-box__submit"} 出品する
          %a.sell-btn-box__back#sell-back-btn 戻る

= render 'partial/footer'