- breadcrumb :mypage_credit
= render 'devise/shared/header'
%main.mypage-container
  = render 'sidemenu'
  .mypage-content
    .mypage-content__box
      %h2.mypage-content__box__header 支払い方法

      .mypage-content__box__form-froup
        %p.text-center クレジットカード一覧
        .btn-default.btn-red
          = fa_icon("credit-card")
          = link_to 'クレジットカードを追加する', edit_credit_index_path

= render 'devise/shared/footer'
= render 'partial/sellbutton'