= render 'devise/shared/header'
%main.mypage-container
  = render 'sidemenu'
  .mypage-content
    .mypage-content__box
      %h2.mypage-content__box__header メール/パスワード
      = form_for @user , :url => { :controller => :mypages, :action => :update_user } do |f|
        .mypage-content__box__form-group
          = f.label :メールアドレス
          .mypage-content__box__form-group__input
          = f.text_field :email, :class => "mypage-content__box__form-group__input-form"
        .mypage-content__box__form-group
          = f.label :現在のパスワード
          .mypage-content__box__form-group__input
          = @user.password
        .mypage-content__box__form-group
          = f.label :新しいパスワード
          .mypage-content__box__form-group__input
          = f.number_field :password  ,:class => "mypage-content__box__form-group__input-form"
        .mypage-content__box__form-group
          = f.label :新しいパスワード（確認）
          .mypage-content__box__form-group__input
          = f.number_field :password_confirmation  ,:class => "mypage-content__box__form-group__input-form"
        = f.submit '登録する', class: 'btn-default btn-red'
= render 'devise/shared/footer'