= render 'devise/shared/header'
%main.mypage-container
  = render 'sidemenu'
  .mypage-content
    .mypage-content__box
    %h2.mypage-content__box__header プロフィール
    = form_for @user , :url => { :controller => :mypages, :action => :update_user } do |f|
      = f.text_field :profile ,:class => "mypage-content__box__text-form-group"
      = f.submit '変更する', class: 'btn-default btn-red'
= render 'devise/shared/footer'
