-# %h2 Log in
= render 'partial/header'
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %main.single-main
    %section.single-main__log-in
      %p.single-main__log-in__header アカウントをお持ちでない方はこちら
      .btn-default.btn-sns.log-in
        = link_to '新規会員登録',  registration_signup_index_path
      %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
        = fa_icon("facebook-square 2x")
        = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path
      %button#google-login.btn-default.btn-sns.btn-sns-google
        = fa_icon("google 2x")
        = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path
      .single-main__log-in__form-group
        = f.email_field :email ,:class => "single-main__container__form-group__input-form", :placeholder => "メールアドレス", :type => "email", :value => "" 
        = f.email_field :password ,:class => "single-main__container__form-group__input-form", :placeholder => "パスワード", :type => "password", :value => ""         
      .single-main__log-in__form-group  
        =image_tag "https://i.gyazo.com/d1c693a279de98c05670163a3e2079c6.png"
        -# = recaptcha_tags
        -# 本番環境ではrecaptcahのIDが読み込まれないとrecaptha_tagsが使用できないためコメントアウト。
        %button.btn-default.btn-red.actions{:type => "submit"}ログイン
      .single-main__container__form-group
        %p
          %a{:href => "https://www.mercari.com/jp/password/reset/start/", :target => "_blank"} パスワードをお忘れの方
= render 'partial/footer'
    
