.main__popularities
  .main__popularities__items
    .main__popularities__items__onecategory
      %h3{id: "category_#{category.id}", class: "main__popularities__items__onecategory__title h3"}
        #{category.name}新着アイテム
      %a.main__popularities__items__onecategory__more
        %span.main__popularities__items__onecategory__more__text
          もっと見る
        = fa_icon 'angle-right 2x'
    .main__popularities__items__onecategorylist
      .main__popularities__items__onecategorylist__boxes

        - Item.same_category_items(category.id).each do |item|
          .main__popularities__items__onecategorylist__boxes__onebox
            %a.main__popularities__items__onecategorylist__boxes__onebox__link{href: "/items/#{item.id}", alt: "id:#{item.id}"}
              %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
                %figurecaption
                  %span
                    = item.name
                .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
                  %span
                    = to_yen(item.price)
                  = image_tag item.image.url if item.image.present?