.main__popularCategory
  %h2.main__popularCategory__title.h2
    人気のカテゴリー
  .main__popularCategory__content
    %ul.main__popularCategory__content__topics
      %li.main__popularCategory__content__topics__1topic
        %a.main__popularCategory__content__topics__1topic__link
          レディース
      %li.main__popularCategory__content__topics__1topic
        %a.main__popularCategory__content__topics__1topic__link
          メンズ
      %li.main__popularCategory__content__topics__1topic
        %a.main__popularCategory__content__topics__1topic__link
          家電・スマホ・カメラ
      %li.main__popularCategory__content__topics__1topic
        %a.main__popularCategory__content__topics__1topic__link
          おもちゃ・ホビー・グッズ
.main__popularities
  .main__popularities__items
    .main__popularities__items__onecategory
      %h3.main__popularities__items__onecategory__title.h3
        レディース新着アイテム
      %a.main__popularities__items__onecategory__more{:href => "/items/category/1/"}
        もっと見る
        = fa_icon 'angle-right 2x'
    .main__popularities__items__onecategorylist
      .main__popularities__items__onecategorylist__boxes

        - @items.each do |item|
          .main__popularities__items__onecategorylist__boxes__onebox
            %a.main__popularities__items__onecategorylist__boxes__onebox__link{href: "/items/#{item.id}", alt: "id:#{item.id}"}
              %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
                %figurecaption
                  %span
                    #{item.name}
                .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
                  %span
                    = to_yen(item.price)
                  = image_tag item.image.url if item.image.present?

    -# .main__popularities__items__onecategory.not--first
    -#   %h3.main__popularities__items__onecategory__title.h3
    -#     メンズ新着アイテム
    -#   %a.main__popularities__items__onecategory__more{:href => "/items/category/1/"}
    -#     もっと見る
    -#     = fa_icon 'angle-right 2x'
    -# .main__popularities__items__onecategorylist
    -#   .main__popularities__items__onecategorylist__boxes
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -# .main__popularities__items__onecategory.not--first
    -#   %h3.main__popularities__items__onecategory__title.h3
    -#     家電・スマホ・カメラ新着アイテム
    -#   %a.main__popularities__items__onecategory__more{:href => "/items/category/1/"}
    -#     もっと見る
    -#     = fa_icon 'angle-right 2x'
    -# .main__popularities__items__onecategorylist
    -#   .main__popularities__items__onecategorylist__boxes
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -# .main__popularities__items__onecategory.not--first
    -#   %h3.main__popularities__items__onecategory__title.h3
    -#     おもちゃ・ホビー・グッズ新着アイテム
    -#   %a.main__popularities__items__onecategory__more{:href => "/items/category/1/"}
    -#     もっと見る
    -#     = fa_icon 'angle-right 2x'
    -# .main__popularities__items__onecategorylist
    -#   .main__popularities__items__onecategorylist__boxes
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
    -#     .main__popularities__items__onecategorylist__boxes__onebox
    -#       %a.main__popularities__items__onecategorylist__boxes__onebox__link{:href => "/items/1/"}
    -#         %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
    -#           %figurecaption
    -#             %span
    -#               レディースハンドバッグ
    -#           .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
    -#             %span
    -#               ¥6,50000
    -#             %img{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m98171323217_1.jpg?1569671408"}
