= render 'devise/shared/header'
- if flash[:notice]
  .flash
    = flash[:notice]
.wrapper__main
  .main
    .main__top
      %a.main__top__link
      .main__top__slider
        .main__top__slider__frame
          %ul.main__top__slider__frame__lists
            %li#slide1.main__top__slider__frame__lists__slide__visible
              %a
                .main__top__slider__frame__lists__slide__visible__image{:style => "background-image:url(#{asset_path "slide_camp.jpg"})"}
            %li#slide2.main__top__slider__frame__lists__slide__visible.invisible
              .main__top__slider__frame__lists__slide__visible__box
                .main__top__slider__frame__lists__slide__visible__box__content
                  = image_tag 'top-banner-main-device.png', alt: '', class: 'main__top__slider__frame__lists__slide__visible__box__content__image'
                  .main__top__slider__frame__lists__slide__visible__box__content__subs
                    .main__top__slider__frame__lists__slide__visible__box__content__subs__toptexts
                      スマホでかんたん
                      %br
                      フリマアプリ
                    %p.main__top__slider__frame__lists__slide__visible__box__content__subs__middletexts
                      メルカリはスマホカメラからすぐに出品できる
                      %br
                      購入時も安心な独自システムのアプリです
                    .main__top__slider__frame__lists__slide__visible__box__content__subs__bottomeimages
                      %a
                        = image_tag 'app_store_logo.svg', alt: '', class: 'img.main__top__slider__frame__lists__slide__visible__box__content__subs__bottomeimages__itunes'
                      %a
                        = image_tag 'google_play_logo.svg', alt: '', class: 'main__top__slider__frame__lists__slide__visible__box__content__subs__bottomeimages__google'
      %button.main__top__slider__arrow--left
        = fa_icon 'angle-left 4x'
      %button.main__top__slider__arrow--right
        = fa_icon 'angle-right 4x'
      .main__top__slider__dots
        = fa_icon 'circle'
        = fa_icon 'circle'
    .main__popularCategory
      %h2.main__popularCategory__title.h2
        人気のカテゴリー
      .main__popularCategory__content
        %ul.main__popularCategory__content__topics
          - @categories.each do |category|
            %li.main__popularCategory__content__topics__1topic
              %span{data: {"category-id": category.id}, class: "main__popularCategory__content__topics__1topic__link"}
                = category.name

    = render partial: 'popular_category', collection: @categories, as: :category
    = render 'popular_brand'

= render 'devise/shared/aside'
= render 'devise/shared/footer'
= render 'partial/sellbutton'

-#
  %p#notice= notice
  %h1 Items
  %table
    %thead
      %tr
        %th Description
        %th{:colspan => "3"}
    %tbody
      - @items.each do |item|
        %tr
          %td= item.description
          %td= image_tag item.image.url if item.image.present?
          %td= link_to 'Show', item
          %td= link_to 'Edit', edit_item_path(item)
          %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Item', new_item_path
