= render 'devise/shared/header'
- if flash[:notice]
  .flash
    = flash[:notice]
.wrapper__main
  .main
    .main__top
      %a.main__top__link{:href => "/items/featured/camp/"}
      .main__top__slider
        .main__top__slider__frame
          %ul.main__top__slider__frame__lists
            %li.main__top__slider__frame__lists__slide__visible
              %a{:href => "/items/featured/camp/"}
                .main__top__slider__frame__lists__slide__visible__image{:style => "background-image:url(#{asset_path "slide_camp.jpg"})"}
            -#
              %li.main__top__slider__frame__lists__slide__invisible
                .main__top__slider__frame__lists__slide__invisible__box
                  .main__top__slider__frame__lists__slide__invisible__box__content
                    %img.main__top__slider__frame__lists__slide__invisible__box__content__image{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
                    .main__top__slider__frame__lists__slide__invisible__box__content__subs
                      .main__top__slider__frame__lists__slide__invisible__box__content__subs__toptexts
                        スマホでかんたん
                        %br
                        フリマアプリ
                      %p.main__top__slider__frame__lists__slide__invisible__box__content__subs__middletexts
                        メルカリはスマホカメラからすぐに出品できる
                        %br
                        購入時も安心な独自システムのアプリです
                      .main__top__slider__frame__lists__slide__invisible__box__content__subs__bottomeimages
                        %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
                          %img.main__top__slider__frame__lists__slide__invisible__box__content__subs__bottomeimages__itunes{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
                        %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
                          %img.main__top__slider__frame__lists__slide__invisible__box__content__subs__bottomeimages__google{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
      .main__top__slider__arrow--left
        = fa_icon 'angle-left 4x'
      .main__top__slider__arrow--right
        = fa_icon 'angle-right 4x'
      .main__top__slider__dots
        = fa_icon 'circle'
        = fa_icon 'circle'

    = render 'devise/shared/popular_category'
    = render 'devise/shared/popular_brand'
    
  .display
    = link_to sell_index_path , class: "display__link" do
      .display__link__button
        .display__link__button__text
          出品
        .display__link__button__mark
          = fa_icon 'camera 3x'

= render 'devise/shared/aside'
= render 'devise/shared/footer'

-#
  %p#notice= notice
  %h1 Items
  %table
    %thead
      %tr
        %th Description
        %th{:colspan => "3"}
    %tbody
      - @items.each do |item|
        %tr
          %td= item.description
          %td= image_tag item.image.url if item.image.present?
          %td= link_to 'Show', item
          %td= link_to 'Edit', edit_item_path(item)
          %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Item', new_item_path
