- Item.same_category_items(category.id).each do |item|
  .main__popularities__items__onecategorylist__boxes__onebox
    %a.main__popularities__items__onecategorylist__boxes__onebox__link{href: "/items/#{item.id}", alt: "id:#{item.id}"}
      %figure.main__popularities__items__onecategorylist__boxes__onebox__link__figure
        %figurecaption
          %span
            = item.name
        .main__popularities__items__onecategorylist__boxes__onebox__link__figure__image
          %span
            = to_yen(item.price)
          = image_tag item.image.url if item.image.present?