= render 'devise/shared/header'
.main
  .showMain
    .category-show-wrapper
      .category-show-wrapper__category-name
        = @category.name + "の商品一覧"
    
      .itemBox
        .itemHead
          .itemLists
            = render partial: 'categories'
      
= render 'devise/shared/aside'
= render 'devise/shared/footer'
= render 'partial/sellbutton'